@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
:root{
	--body-bg: #fff;
	--text-primary-color: #ddd;
	--text-secondary-color: #444;
	--primary-background: linear-gradient(#fb4d08 25%,#da1984);
	--primary-background-fallback: #dc4c50;
    --secondary-background-fallback: rgba(80, 158, 211,0.85);
}
body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(91, 212, 228), rgb(243, 62, 128));
    background-attachment: fixed;
    color: white;
    -webkit-tap-highlight-color: transparent;
}
a {
    font-weight: 300;
    color: rgb(91, 212, 228);
    text-decoration: none;
}
nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50px;
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s;
}
nav a {
    transition: color 0.25s;
}
.navTransparent {
    background-color: transparent;
}
.navTransparent a {
    color: rgb(180, 255, 255);
}
.header-nav{
	display: inline;
	vertical-align: middle;
}
#logo{
    height: 3em;
    width: 3em;
	border-radius: 100%;
	margin-top: 2px;
	box-shadow: 1px 4px 6px 2px #00000033;
	background: rgba(255,255,255,0.909);
	cursor: pointer;
	user-select: none;
	z-index: 100;
}
#navs{
	transition: .3s linear;
	overflow: hidden;
	border-radius: 4px;
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	z-index: 100;
	width: 6em;
	margin: auto;
}
.navs{
	height: 0;
	opacity: 0.5;
}
.show{
	opacity: 1;
	height: 6.53em;
	box-shadow: 1px 4px 6px 2px #00000033;
}
.navs a, .navs a:visited{
	margin: 0;
	z-index: 100;
	background: rgba(255,255,255,0.909);
	color: var(--text-secondary-color);
	display: block;
	text-decoration: none;
	padding: 1em;
	border-bottom: 1px solid;
}
.liner{
	background: linear-gradient(to right,#78d0e3 25%,#593985,#9d3d68);
	border: 0;
	margin: 0;
	padding: 2px;
}
h2.contact{
	color: var(--text-secondary-color);
	font-weight: 100;
	letter-spacing: 9px;
	padding: .5em;
	font-size: 275%;
	font-family: 'Work Sans';
	width: fit-content;
	margin: auto;
	word-spacing: 100vw;
    width: 100vw;
    height: 50px;
    transform: translate3d(0, 0, 0); /* for gpu acceleration */
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
nav .wrapper {
    text-align: center;
    cursor: pointer;
}
nav .wrapper span {
    position: relative;
    top: 25%;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.5s;
}
nav .wrapper:hover span, nav .wrapper:focus span {
    text-shadow: 0 0 5px rgb(81, 203, 235);
}
footer {
    position: absolute;
    left: 0;
    width: calc(100% - 50px);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}
footer h2 {
    font-weight: 100;
    font-size: 25px;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;    
}
footer a {
    margin: 10px;
    margin-left: 30px;
    float: left;
    font-size: 20px;
    height: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
footer img {
    height: 20px;
    margin-right: 10px;
    margin-top: 3px;
    float: left;
}
footer a:nth-child(2) {
    color: rgb(255, 150, 150);
}
footer a:nth-child(3) {
    color: rgb(150, 150, 255);
}
footer a:nth-child(4) {
    color: rgb(255, 150, 255);
}
article {
    margin-top: 70px; /* 50px (el: nav) + 20px (gap) */
    overflow-x: hidden;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
article h1 img {
    position: relative;
    transform: translate(0, 8px);
}
@media screen and (max-width: 700px) {
    footer {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    footer a {
        margin-left: 10px;
    }
}