@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
:root{
	--body-bg: #fff;
	--text-primary-color: #ddd;
	--text-secondary-color: #444;
	--primary-background: linear-gradient(#fb4d08 25%,#da1984);
	--primary-background-fallback: #dc4c50;
    --secondary-background-fallback: rgba(80, 158, 211,0.85);
}
body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(91, 212, 228), rgb(243, 62, 128));
    background-attachment: fixed;
    color: white;
    -webkit-tap-highlight-color: transparent;
}
a {
    font-weight: 300;
    color: rgb(91, 212, 228);
    text-decoration: none;
}
nav {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.25s;
}
nav .wrapper {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}
nav a {
    cursor: pointer;
    transition: color 0.25s;
    color: white;
    height: 50px;
    float: left;
    width: 100%;
}
nav a span {
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.5s;
    position: relative;
    top: -17px;
    font-size: 16px;
    transform: translateY(-50%);
    visibility: collapse;
}
nav:hover, .showNav {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
}
nav:hover a span, .showNav a span {
    visibility: visible;
}
nav a:hover span, nav a:focus span {
    text-shadow: 0 0 5px white;
}
nav a:hover, nav a:focus {
    background-color: rgba(100, 100, 100, 0.2);
}
.header-nav{
	display: inline;
	vertical-align: middle;
}
#logo{
    height: 3em;
    width: 3em;
	border-radius: 100%;
	margin-top: 2px;
	box-shadow: 1px 4px 6px 2px #00000033;
	background: rgba(255,255,255,0.909);
	cursor: pointer;
	user-select: none;
	z-index: 100;
}
#navs{
	transition: .3s linear;
	overflow: hidden;
	border-radius: 4px;
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	z-index: 100;
	width: 6em;
	margin: auto;
}
.navs{
	height: 0;
	opacity: 0.5;
}
.show{
	opacity: 1;
	height: 6.53em;
	box-shadow: 1px 4px 6px 2px #00000033;
}
.navs a, .navs a:visited{
	margin: 0;
	z-index: 100;
	background: rgba(255,255,255,0.909);
	color: var(--text-secondary-color);
	display: block;
	text-decoration: none;
	padding: 1em;
	border-bottom: 1px solid;
}
.liner{
	background: linear-gradient(to right,#78d0e3 25%,#593985,#9d3d68);
	border: 0;
	margin: 0;
	padding: 2px;
}
h2.contact{
	color: var(--text-secondary-color);
	font-weight: 100;
	letter-spacing: 9px;
	padding: .5em;
	font-size: 275%;
	font-family: 'Work Sans';
	width: fit-content;
	margin: auto;
	word-spacing: 100vw;
    width: 100vw;
    height: 50px;
    transform: translate3d(0, 0, 0); /* for gpu acceleration */
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
footer {
    width: calc(100% - 100px);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    float: right;
}
footer h2 {
    font-weight: 100;
    font-size: 25px;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;    
}
footer a {
    margin: 10px;
    margin-left: 30px;
    float: left;
    font-size: 20px;
    height: 20px;
}
footer img {
    height: 20px;
    margin-right: 10px;
    margin-top: 3px;
    float: left;
}
footer a:nth-child(2) {
    color: rgb(219, 68, 55);
    text-shadow: 0 0 5px rgba(219, 68, 55, 0.5);
}
footer a:nth-child(3) {
    color: rgb(59, 86, 157);
    text-shadow: 0 0 5px rgba(59, 86, 157, 0.5);    
}
footer a:nth-child(4) {
    color: rgb(188, 42, 141);
    text-shadow: 0 0 5px rgba(188, 42, 141, 0.5);
}
article {
    overflow-x: hidden;
    width: calc(100% - 110px);
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
article h1 img {
    position: relative;
    transform: translate(0, 8px);
}
@media screen and (max-width: 600px) {
    nav {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0s;
    }
    nav > a {
        display: none;
    }
    nav .wrapper {
        position: static;
        top: 0;
        transform: none;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: 50px;
    }
    nav .wrapper a {
        height: auto;
        float: initial;
        width: auto;
        position: relative;
    }
    nav .wrapper a {
        height: 60px;
    }
    nav a img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 38px;
        display: block;
    }
    nav a span {
        font-size: 12px;
        visibility: visible;
        position: absolute;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    nav:hover, .showNav {
        width: 100%;
    }
    footer {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 60px;
    }
    footer a {
        margin-left: 10px;
    }
    article {
        width: calc(100vw - 40px);
        padding-left: 20px;
        padding-right: 20px; 
    }
}
@media screen and (min-width: 1400px) {
    article {
        float: initial;
    }
}
@media screen and (max-width: 450px) {
    footer a {
        font-size: 4vw;
    }
}