body{
	background-color: var(--body-bg);
}
.carousel{
	display: inline-flex;
	height: 98vh;
	margin: 0;
	overflow: hidden;
	max-width: 100vw;
	position: relative;
	background: #000;
}
.carousel-item{
	height: inherit;
	width: 0;
	color: var(--text-primary-color);
	text-align: center;
	transition: 0.3s ease;
	overflow: hidden;
	transform: matrix3d(1,0,0.00,0,0.00,0.94,0.34,0,0,-0.34,0.94,0,-100,0,0,1);
	
}
.carousel-controls{
	position: absolute;
	bottom: 0;
}
.carousel-pagination {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
	padding-inline-start: 0;
	justify-content: center;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	justify-items: center;
	align-content: center;
	width: 100vw;
}
.carousel-pagination>li{
	margin-right: 3px;
	box-shadow: 1px 2px 4px #00000099;
	transition: 0.3s ease;
	height: 7px;
	cursor: pointer;
}
.carousel-page{
	background: #000;
}
.dot{
	height: inherit;
	width: 7px;
	background: #8c8c8cd7;
	content: " ";
	border-radius: 100%;
}
.line{
	width: 100px;
	height: inherit;
	background: rgba(255, 255, 255, 0.801);
	border-radius: 20px;
	margin-right: 6px;
	content: " ";
}
.test_cls{
	color: #000!important;
	width: 100vw;
	opacity: 1;
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
.events-hero{
	background: radial-gradient(#000028,#00008b)#00008b;
	background-position: center center;
	background-repeat: round;
	background-size: 100% 100%;
	height: 100%;
}
.hero-headings{
	font-weight: 700;
	color: #fff;
	padding-top: 1em;
	font-size: 250%;
}
.overflowing-card{
	width: 70vw;
	float: right;
	height: 40vh;
	max-width: 45em;
	background: var(--primary-background);
	position: relative;
	padding: 0.5em;
	border-radius: 4px;
	color: var(--text-primary-color);

}
h1.overflowing {
    position: absolute;
    right: 1em;
    bottom: -2em;
    max-width: 18vw;
    font-weight: 900;
    padding: 0 0.5em;
    font-size: 300%;
    color: #fff;
    text-shadow: 2px 2px 10px #000000bd;
}
.left-card {
    position: absolute;
    left: 0em;
	bottom: -6em;
	width: 40vw;
    max-width: 23em;
    padding: 1em;
    color: var(--text-secondary-color);
    background: #fff;
    font-family: sans-serif;
    box-shadow: 1px 6px 12px 6px #00000096;
}
.md2btn {
    background: #ddf0f6;
    border-radius: 4px;
    border: 1px solid;
    color: #0600ff;
    padding: 0.25em 0.5em;
    text-decoration: none;
    text-align: center;
	display: block;
	margin: 0.5em auto;
    width: 4em;
}
.alumni-hero{
	background: url('../images/Alumni.jpeg');
	background-repeat: round;
	background-size: 100% 100%;
	height: 100%;
}
.about-hero {
    background: url('../images/logo.png'),url('../images/GU.jpg');
    height: 100%;
    background-position: left center;
    background-repeat: no-repeat, round;
	background-size: auto auto,100% 100%;
}
.team-hero{
	background: url('../images/avengers.jpg');
	background-repeat: round;
	background-size: 100% 100%;
	height: 100%;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 750px){
	.overflowing-card{
		width: 100vw;
		background: var(--primary-background);
		position: relative;
		padding: 0.5em;
		border-radius: 4px;
		color: var(--text-primary-color);
		font-size: small;
	}
	h1.overflowing {
		position: absolute;
		left: 0px;
		right: 0;
		top: -0.8em;
		width: 100vw;
		font-weight: 900;
		padding: 0 0.5em;
		color: #fff;
		text-align: center;
		text-shadow: 2px 2px 10px #000000bd;
		margin: 0;
		max-width: unset;
		font-size: x-large;
	}
	.hero-headings {
		font-weight: 700;
		color: #fff;
		padding-top: 0em;
		font-size: large;
	}
	.left-card {
		position: static;
		width: unset;
		max-width: unset;
		padding: 0.5em;
		color: var(--text-secondary-color);
		background: #fff;
		font-family: sans-serif;
		box-shadow: 1px 6px 12px 6px #00000096;
	}
}